name: crud_app
description: "Aplikasi CRUD Catatan Tugas Mahasiswa"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # SharedPreferences untuk menyimpan data lokal
  shared_preferences: ^2.2.2
  
  # Intl untuk format tanggal
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true